<div class="w-full w-max-md bg-grey200 rounded-lg shadow-lg flex flex-col">
  <div class="w-full">
    <img
      ngSrc="assets/images/banner.png"
      alt="Bannière"
      width="393"
      height="144"
      priority
      class="w-full object-cover rounded-t-lg"
    >
  </div>
  <div class="p-6 flex-grow flex flex-col">
    <div class="flex items-center justify-center relative mb-8">
      <button
        (click)="toConnexion()"
        class="absolute left-0 text-grey200 hover:text-grey600 w-10 h-10 flex items-center justify-center transition-colors rounded-full bg-grisAnthra"
        aria-label="Retour">
        <i class="bi bi-arrow-left-circle text-3xl leading-none flex items-center justify-center"></i>
      </button>
      <h2 class="text-2xl font-bold text-grisAnthra">INSCRIPTION</h2>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="space-y-6">
      <div>
        <p-floatlabel variant="on">
          <label for="email" class="text-grey600!">Email</label>
          <input type="email"
                 formControlName="email"
                 id="email"
                 name="email"
                 class="mt-1 block w-full px-3 py-2 border border-grisAnthra rounded-md shadow-sm focus:outline-none focus:ring-intermediaire focus:border-intermediaire"
                 required>
        </p-floatlabel>
      </div>

      <div>

        <p-floatlabel variant="on">
          <p-password formControlName="password" inputId="on_label" [toggleMask]="true"
                      promptLabel="Choisir un mot de passe"
                      weakLabel="Faible"
                      mediumLabel="Moyen"
                      strongLabel="Fort"
                      styleClass="w-full! pb-2!"
                      inputStyleClass="w-full! border-grisAnthra! shadow-sm! focus:outline-none! focus:ring-intermediaire! focus:border-intermediaire!"/>
          <label for="on_label" class="text-grey600!">Mot de passe</label>
        </p-floatlabel>

        <button type="submit"
                [disabled]="registerForm.invalid || loading"
                class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-md text-md font-medium text-grey200 bg-vertFeuille disabled:opacity-70 hover:bg-vertFeuille-hover">
          <div *ngIf="loading"
               class="w-6 h-6 border-2 border-grey200 border-t-transparent rounded-full animate-spin"></div>
          <span *ngIf="!loading">INSCRIPTION</span>
        </button>
      </div>


    </form>

    <div class="flex flex-col items-center mt-auto pt-20">
      <span class="text-l font-normal text-center text-grisAnthra pb-2">Déjà un compte ?</span>
      <button (click)="toConnexion()"
              class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-md text-md font-medium text-grey200 bg-intermediaire hover:bg-intermediaire-hover">
        Se connecter
      </button>
    </div>
  </div>
</div>

