<form [formGroup]="form" (ngSubmit)="onSubmit()" class="h-full w-full">
  <ng-template #recapitulatif>
    <div class="flex flex-row justify-between w-1/2 border-b border-brun400">
      <div class="flex flex-col">
        <div class="italic font-light text-md">Activité</div>
        <div class="font-semibold text-lg">{{ selectedActivite?.nom }}</div>
      </div>
      <div class="flex flex-col">
        <div class="italic font-light text-md">Durée</div>
        <div class="font-semibold text-lg">{{ tacheUtils.getDureeFormatted(getSelectedDureeMinutes() ?? 0) }}</div>
      </div>
      <div class="flex flex-col">
        <div class="italic font-light text-md">Utilisateur</div>
        <div class="font-semibold text-lg">{{ getSelectedUser()?.first_name + ' ' + getSelectedUser()?.last_name }}
        </div>
      </div>
      <div class="flex flex-col">
        <div class="italic font-light text-md">Date</div>
        <div class="font-semibold text-lg">{{ dateUtils.toFrenchFormat(form.get('date')?.value) }}</div>
      </div>
    </div>
  </ng-template>

  <ng-template #page1>

    <div class="flex flex-row space-x-4">
      <div class="w-60">
        <p-floatlabel variant="on">
          <p-calendar [iconDisplay]="'input'" [showIcon]="true" dateFormat="dd/mm/yy" formControlName="date"
                      inputId="date">
          </p-calendar>
          <label for="date">Date</label>
        </p-floatlabel>
      </div>
      <div class="w-60">
        <p-floatlabel class="w-full" variant="on">
          <p-select formControlName="user_id" optionValue="id" inputId="user" [options]="availableUsers"
                    styleClass="w-full">
            <ng-template #selectedItem let-selectedOption>
              <div class="flex items-center gap-2" *ngIf="selectedOption">
                <div>{{ selectedOption.first_name + ' ' + selectedOption.last_name }}</div>
              </div>
            </ng-template>
            <ng-template let-option #item>
              <div class="flex items-center gap-2">
                <div>{{ option.first_name + ' ' + option.last_name }}</div>
              </div>
            </ng-template>
          </p-select>
          <label for="user">Utilisateur</label>
        </p-floatlabel>
      </div>
    </div>

    <div class="flex flex-row space-x-4">
      <div class="w-80">
        <p-floatlabel variant="on">
          <p-iconfield>
            <p-inputicon styleClass="pi pi-search"/>
            <label for="recherche">Rechercher une activité</label>
            <input pInputText type="text"
                   id="recherche"
                   name="recherche"
                   [formControl]="searchActiviteControl"
                   fluid>
            <p-inputicon styleClass="pi pi-times" class="hover:cursor-pointer" (click)="searchActiviteControl.setValue('')"/>
          </p-iconfield>
        </p-floatlabel>
      </div>
      <div class="w-80">
        <p-floatlabel class="w-full" variant="on">
          <p-select inputId="categorie" [options]="availableActiviteCategories"
                    styleClass="w-full" [formControl]="categorieActiviteControl">
          </p-select>
          <label for="categorie">Catégorie</label>
        </p-floatlabel>
      </div>
    </div>
    <div class="w-[50%]">
      <p-scrollpanel [style]="{ width: '100%', height: 'calc(100vh - 300px)'}" class="w-full">
        <div class="flex flex-col space-y-2 w-full p-2">
          @for (activite of filteredActivites; track activite.id) {
            <div class="rounded-2xl p-4 w-full font-semibold shadow-sm hover:cursor-pointer"
                 (click)="onSelectActivite(activite)"
                 [ngClass]="form.get('activite_id')?.value != activite.id ? 'bg-brun300 text-grisAnthra' : 'bg-brunTerre text-gray50'">
              <span>{{ activite.nom }}</span>
            </div>
          }
        </div>
      </p-scrollpanel>
    </div>

    <div class="flex flex-row space-x-4 items-center">
      <div>
        <p-floatlabel variant="on">
          <p-datepicker inputId="duree_minutes" formControlName="duree" [timeOnly]="true" [stepHour]="1" [stepMinute]="10" hourFormat="24">
          </p-datepicker>
          <label for="duree_minutes">Durée (h : min)</label>
        </p-floatlabel>
      </div>

      <div class="w-70">
        <p-button label="Suivant"
                  [disabled]="form.invalid"
                  [raised]="form.invalid"
                  fluid
                  (onClick)="onSuivant()"
        />
      </div>
    </div>
  </ng-template>

  <ng-template #page2>
    <div *ngTemplateOutlet="recapitulatif"></div>

    <div class="flex flex-row space-x-4">
      <div class="w-80">
        <p-floatlabel variant="on">
          <p-iconfield>
            <p-inputicon styleClass="pi pi-search"/>
            <label for="recherche">Rechercher une culture</label>
            <input pInputText type="text"
                   id="recherche"
                   name="recherche"
                   [formControl]="searchCultureControl"
                   fluid>
            <p-inputicon styleClass="pi pi-times" class="hover:cursor-pointer" (click)="searchCultureControl.setValue('')"/>
          </p-iconfield>
        </p-floatlabel>
      </div>
      <div class="w-80">
        <p-floatlabel class="w-full" variant="on">
          <p-select inputId="culture" [options]="availableCultureCategories"
                    styleClass="w-full" [formControl]="categorieCultureControl">
          </p-select>
          <label for="culture">Cultures</label>
        </p-floatlabel>
      </div>
    </div>
    <div class="w-[50%]">
      <p-scrollpanel [style]="{ width: '100%', height: 'calc(100vh - 380px)'}" class="w-full">
        <div class="flex flex-col space-y-2 w-full p-2">
          @for (culture of filteredCultures; track culture.id) {
            <div class="rounded-2xl p-4 w-full font-semibold shadow-sm hover:cursor-pointer"
                 (click)="onSelectCulture(culture)"
                 [ngClass]="!isCultureSelected(culture.id) ? 'bg-brun300 text-grisAnthra' : 'bg-brunTerre text-gray50'">
              <span>{{ culture.nom }}</span>
            </div>
          }
        </div>
      </p-scrollpanel>
    </div>

    <div class="flex flex-row space-x-4">
      @for (selectedCulture of selectedCultures; track selectedCulture.id) {
        <div>
          <p-chip [label]="selectedCulture.nom" [removable]="true" (onRemove)="onRemoveSelectedCulture(selectedCulture)"
                  styleClass="bg-brun400!"/>
        </div>
      }

    </div>

    <div class="flex flex-row w-1/2 justify-between space-x-4">
      <div class="w-70">
        <p-button label="Précédent"
                  [raised]="true"
                  fluid
                  (onClick)="onPrecedent()"
                  styleClass="bg-intermediaire! border-intermediaire! hover:bg-intermediaire-hover!"
        />
      </div>
      <div class="w-70">
        <p-button label="Suivant"
                  [disabled]="form.invalid || selectedCultures?.length == 0"
                  [raised]="form.invalid"
                  fluid
                  (onClick)="onSuivant()"
        />
      </div>
    </div>
  </ng-template>

  <ng-template #page3>
    <div *ngTemplateOutlet="recapitulatif"></div>

    @if (selectedActivite?.niveau_complexite == NiveauComplexite.baseParcelles ||
    selectedActivite?.niveau_complexite == NiveauComplexite.baseQuantiteParcelles) {
      <div class="w-1/3">
        <p-multiselect [options]="availableParcelles" formControlName="parcelle_ids" optionLabel="nom" optionValue="id" placeholder="Parcelles" styleClass="w-full" >
        </p-multiselect>
      </div>
    }

    @if (selectedActivite?.niveau_complexite == NiveauComplexite.baseQuantite ||
    selectedActivite?.niveau_complexite == NiveauComplexite.baseQuantiteParcelles) {
      <div class="flex flex-row w-1/3 justify-between space-x-4">
        <div>
          <p-floatlabel variant="on">
            <p-inputnumber formControlName="quantite" inputId="unite" mode="decimal" locale="fr-FR" [useGrouping]="false" min="1">
            </p-inputnumber>
            <label for="unite">Quantité</label>
          </p-floatlabel>
        </div>
        <div class="w-full">
          <p-floatlabel class="w-full" variant="on">
            <p-select formControlName="unite_id" inputId="unite" [options]="selectedActivite?.unites" optionLabel="nom" optionValue="id" styleClass="w-full" />
            <label for="unite">Unité</label>
          </p-floatlabel>
        </div>
      </div>
    }

    <div class="w-1/3">
      <p-floatlabel variant="on">
        <textarea pTextarea pSize="large" rows="2" formControlName="commentaire" id="commentaire" style="resize: none"
                  class="w-full"></textarea>
        <label for="commentaire">Commentaire</label>
      </p-floatlabel>
    </div>

    <div class="flex flex-row w-1/2 justify-between space-x-4">
      <div class="w-70">
        <p-button label="Précédent"
                  [raised]="true"
                  fluid
                  (onClick)="onPrecedent()"
                  styleClass="bg-intermediaire! border-intermediaire! hover:bg-intermediaire-hover!"
        />
      </div>
      <div class="w-70">
        <p-button label="VALIDER"
                  [disabled]="form.invalid"
                  [raised]="form.invalid"
                  fluid
                  type="submit"
        />
      </div>
    </div>
  </ng-template>

  <div class="flex flex-col h-full space-y-4 items-center">

    @if (currentPage == 1) {
      <div *ngTemplateOutlet="page1"></div>
    }

    @if (currentPage == 2) {
      <div *ngTemplateOutlet="page2"></div>
    }

    @if (currentPage == 3) {
      <div *ngTemplateOutlet="page3"></div>
    }

  </div>
</form>
