<p-tabs value="feuille">
  <p-tablist>
    @for (categorie of categories; track categorie) {
      <p-tab [value]="categorie" class="flex items-center! gap-5 text-inherit w-[12%]">
        <span>{{ categorie | uppercase }}</span>
      </p-tab>
    }
  </p-tablist>
  <p-tabpanels>
    @for (categorie of categories; track categorie) {
      <p-tabpanel [value]="categorie">
        <p-picklist
          [source]="sourceCultures"
          [target]="fermeCultures[categorie]"
          [dragdrop]="true"
          [responsive]="true"
          [showSourceControls]="false"
          [showTargetControls]="false"
          [responsive]="true"
          [stripedRows]="true"
          (onMoveToSource)="onSubmit(categorie)"
          (onMoveToTarget)="onSubmit(categorie)"
          sourceHeader="Cultures disponibles"
          targetHeader="Cultures de la ferme pour la categorie : {{ categorie | uppercase }}"
          filterBy="nom"
          sourceFilterPlaceholder="Recherche par nom"
          targetFilterPlaceholder="Recherche par nom"
          breakpoint="1400px"
          scrollHeight="28rem"
        >
          <ng-template let-item #item>
            {{ item.nom }}
          </ng-template>
        </p-picklist>
      </p-tabpanel>
    }
  </p-tabpanels>
</p-tabs>
