<div class="p-4 bg-white rounded-lg shadow" [ngClass]="isMobile ? 'p-2' : 'p-4'">
  <!-- Header -->
  <div class="flex flex-col items-center">
    <div class="flex justify-center items-center" [ngClass]="isMobile ? 'text-lg' : 'text-xl'">
      <div class="flex flex-row items-center" [ngClass]="isMobile ? 'space-x-2' : 'space-x-4'">
        <!--      selecteur mois-->
        <div class="hover:cursor-pointer hover:scale-110" (click)="goToPreviousMonth()">
          <i class="pi pi-chevron-left" style="font-size: 1.5rem"></i>
        </div>
        <div class="h-full">
          {{ monthName }} {{ year }}
        </div>
        <div class="hover:cursor-pointer hover:scale-110" (click)="goToNextMonth()">
          <i class="pi pi-chevron-right" style="font-size: 1.5rem"></i>
        </div>
      </div>
    </div>
    <div class="hover:scale-105 m-2">
      <p-button icon="pi pi-calendar"
                (click)="goToToday()" [rounded]="true"
                [raised]="true"
                label="Aujourd'hui"
                styleClass="bg-grisAnthra! border-grisAnthra!"
      />
    </div>
  </div>

  <!-- Days of the week -->
  <div class="grid grid-cols-7 text-center font-semibold text-gray-600 border-b pb-2 mb-2" [ngClass]="isMobile ? 'text-xs' : 'text-sm'">
    <div *ngFor="let d of ['Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam', 'Dim']">
      {{ d }}
    </div>
  </div>

  <!-- Calendar grid -->
  <div class="grid grid-cols-7 text-center" [ngClass]="isMobile ? 'gap-0.5 text-sm' : 'gap-1 text-md'">
    <div *ngFor="let day of days"
         class="p-2 rounded-md"
         (click)="onClick.emit(day)"
         [ngClass]="{
           'h-15 w-12': isMobile,
           'h-20 w-20': !isMobile,
           'bg-gray200 text-grisAnthra': isToday(day),
           'text-grisAnthra border border-gray200 hover:cursor-pointer hover:scale-105': isCurrentMonth(day),
           'text-gray300': !isCurrentMonth(day)
         }">
      @let calendrierJour = getCalendrierJour(day);
      <div class="flex flex-col items-center">
        <div>
          {{ day.date() }}
        </div>
        @let shouldDisplayWarning = (calendrierJour?.nb_taches_with_missing_fields ?? 0) > 0;
        @if (isCurrentMonth(day)) {
          <div class="rounded-full"
               [ngClass]="{'bg-vertFonce': calendrierJour?.statut == StatutJour.ok && (calendrierJour?.total_jour_minutes ?? 0) > 0,
             'bg-jauneSoleil': calendrierJour?.statut == StatutJour.warning,
             'bg-suppression': calendrierJour?.statut == StatutJour.danger,
             'border border-gray200': (calendrierJour?.total_jour_minutes ?? 0) == 0,
             'w-2 h-2': isMobile && !shouldDisplayWarning,
             'w-3 h-3': !isMobile}">
          </div>
          @if (shouldDisplayWarning) {
            <i class="bi bi-exclamation-triangle-fill"
               [style]="isMobile ? 'color: var(--color-jauneSoleil);font-size: 1rem' : 'color: var(--color-jauneSoleil);font-size: 1.5rem'"></i>
          }
        }
      </div>
    </div>
  </div>
  <div class="border-t pt-4 grid grid-cols-[auto_1fr]" [ngClass]="isMobile ? 'mt-3 gap-x-1 text-sm' : 'mt-5 gap-x-2'">
    <!-- Ligne 1 -->
    <div class="flex items-center justify-center">
      <i class="bi bi-exclamation-triangle-fill"
         [style]="isMobile ? 'color: var(--color-jauneSoleil); font-size: 1rem' : 'color: var(--color-jauneSoleil); font-size: 1.5rem'"></i>
    </div>
    <div class="flex items-center">
      Des tâches restent incomplètes pour ce jour.
    </div>

    <!-- Ligne 2 -->
    <div class="flex items-center justify-center">
      <div class="rounded-full bg-vertFonce" [ngClass]="isMobile ? 'w-2 h-2' : 'w-3 h-3'"></div>
    </div>
    <div class="flex items-center">
      Total du jour supérieur à 0 et inférieur à 9 heures.
    </div>

    <!-- Ligne 3 -->
    <div class="flex items-center justify-center">
      <div class="rounded-full bg-jauneSoleil" [ngClass]="isMobile ? 'w-2 h-2' : 'w-3 h-3'"></div>
    </div>
    <div class="flex items-center">
      Total du jour supérieur à 9 heures et inférieur à 10 heures.
    </div>

    <!-- Ligne 4 -->
    <div class="flex items-center justify-center">
      <div class="rounded-full bg-suppression" [ngClass]="isMobile ? 'w-2 h-2' : 'w-3 h-3'"></div>
    </div>
    <div class="flex items-center">
      Total du jour supérieur à 10 heures.
    </div>

    <!-- Ligne 5 -->
    <div class="flex items-center justify-center">
      <div class="rounded-full border border-gray200" [ngClass]="isMobile ? 'w-2 h-2' : 'w-3 h-3'"></div>
    </div>
    <div class="flex items-center">
      Aucune tâche renseignée pour ce jour.
    </div>
  </div>
</div>
