<div class="sticky top-0 z-50 w-full">
  <div class="bg-brunTerre text-gray100 h-16 flex items-center justify-between px-4 shadow-lg">
    <!-- Logo à gauche -->
    <div class="flex items-center">
      <a href="/" class="flex items-center space-x-2 hover:opacity-80 transition-opacity duration-200">
        <img ngSrc="assets/images/logo.png" alt="Logo" height="50" width="50">
        <span class="text-2xl font-semibold text-vertFeuille">Sebania</span>
      </a>
    </div>


    <!-- Menu à droite -->
    <div class="flex items-center space-x-1">
      <!-- Paramètres -->
      <a routerLink="/parametres"
         routerLinkActive="bg-grisAnthra"
         class="flex items-center space-x-2 px-3 py-2 rounded-lg hover:bg-grisAnthra active:bg-grisAnthra
                    transition-all duration-200 ease-in-out group">
        <i class="bi bi-gear-fill h-5 w-5 group-hover:scale-110 transition-transform duration-200"></i>
        <span class="font-light text-sm group-hover:text-gray200">Paramètres</span>
      </a>

      <!-- Se déconnetecer -->
      <button (click)="logout()"
         class="flex items-center space-x-2 px-3 py-2 rounded-lg hover:bg-grisAnthra active:bg-grisAnthra
                    transition-all duration-200 ease-in-out group">
        <i class="bi bi-box-arrow-left h-5 w-5 group-hover:scale-110 transition-transform duration-200"></i>
        <span class="font-light text-sm group-hover:text-gray200">Se déconnecter</span>
      </button>
    </div>
  </div>
</div>
