<p-confirmdialog></p-confirmdialog>
<div class="flex flex-row w-full">
  <div class="w-[30%] flex flex-col items-center space-y-5">
    <div class="font-semibold text-xl">{{ dateUtils.toFrenchString(date) }}</div>
    <div class="flex flex-row items-center justify-between w-56">
      <div class="font-medium text-xl">Total du jour :</div>
      <div class="rounded-full p-2 pl-4 pr-4 text-gray50 text-center font-medium text-md shadow-md"
           [ngClass]="{'bg-vertFeuille': statutJour == StatutJour.ok, 'bg-jauneSoleil': statutJour == StatutJour.warning, 'bg-suppression': statutJour == StatutJour.danger}">
        {{ tacheUtils.getDureeFormatted(totalMinutes) }}
      </div>
    </div>
    <div>
      <p-floatlabel class="w-full md:w-56" variant="on">
        <p-select [(ngModel)]="currentUser" inputId="currentUser" [options]="availableUsers" styleClass="w-full"
                  (onClick)="loadTaches()">
          <ng-template #selectedItem let-selectedOption>
            <div class="flex items-center gap-2" *ngIf="selectedOption">
              <div>{{ selectedOption.first_name + ' ' + selectedOption.last_name }}</div>
            </div>
          </ng-template>
          <ng-template let-user #item>
            <div class="flex items-center gap-2">
              <div>{{ user.first_name + ' ' + user.last_name }}</div>
            </div>
          </ng-template>
        </p-select>
        <label for="currentUser">Utilisateur</label>
      </p-floatlabel>
    </div>
    <div>
      <p-floatlabel class="w-full md:w-56" variant="on">
        <p-datepicker [(ngModel)]="date" [iconDisplay]="'input'" [showIcon]="true" inputId="date" dateFormat="dd/mm/yy"
                      (onSelect)="loadTaches()">
        </p-datepicker>
        <label for="date">Date</label>
      </p-floatlabel>
    </div>
  </div>
  <div class="w-[40%] flex flex-col">
    @if (nbVocalInProgress > 0) {
      <div class="flex flex-row justify-center items-center space-x-5 border border-grisAnthra rounded-2xl p-4">
        <div>
          <i class="pi pi-spin pi-spinner" style="font-size: 1.5rem"></i>
        </div>
        <div class="font-semibold text-xl text-grisAnthra">Messages vocaux en cours de traitement
          : {{ nbVocalInProgress }}
        </div>
      </div>
    }
    <p-scrollpanel [style]="{ width: '100%', height: 'calc(100vh - 150px)'}">
      <div class="flex-col">
        @for (tache of taches; track tache.id) {
          <div class="flex flex-col rounded-2xl p-4 min-w-md shadow-sm m-2 space-y-2"
               [ngClass]="{'bg-brun300': tache.activite.niveau_complexite <= NiveauComplexite.baseQuantiteParcelles,
               'bg-brun400': tache.activite.niveau_complexite >= NiveauComplexite.cultures}">
            <!-- header -->
            <div class="flex flex-row h-16 justify-between items-center space-x-4">
              <div class="font-semibold text-xl hover:scale-110 hover:cursor-pointer">
                {{ tache.activite.nom }}
              </div>

              <div class="flex flex-row items-center space-x-4">

                <div class="bg-brunFonce rounded-full p-1 pl-3 pr-3 shadow-md hover:scale-110 hover:cursor-pointer">
                  <i class="bi" style="color: var(--color-gray50);font-size: 1.5rem"
                     [ngClass]="tache.commentaire.length > 0 ? 'bi-chat-left-text-fill' : 'bi-chat-left-text'"></i>
                </div>

                <div
                  class="bg-brunFonce rounded-full p-2 pl-4 pr-4 text-gray50 text-center font-medium text-md shadow-md hover:scale-110 hover:cursor-pointer">
                  {{ tacheUtils.getDureeFormatted(tache.duree_minutes) }}
                </div>

              </div>
            </div>
            <!-- cultures -->
            <div class="flex flex-col items-center justify-center space-y-4">
              @for (culture of tache.cultures; track culture.culture.id) {
                <div class="flex flex-row items-center justify-center space-x-5 w-full">
                  <div class="w-1/10">
                    @if (culture.fields_are_missing) {
                      <i class="bi bi-exclamation-triangle-fill"
                         style="color: var(--color-jauneSoleil);font-size: 2rem"></i>
                    }
                  </div>
                  <div
                    class="w-1/2 bg-brunFonce rounded-full p-2 pl-4 pr-4 text-gray50 text-center font-medium text-md shadow-md hover:scale-110 hover:cursor-pointer">
                    {{ culture.culture.nom }}
                  </div>
                  <div class="bg-brunFonce rounded-full p-1 pl-3 pr-3 shadow-md hover:scale-110 hover:cursor-pointer">
                    <i class="bi bi-grid-1x2-fill" style="color: var(--color-gray50);font-size: 1.5rem"
                       [ngClass]="culture.parcelles.length > 0 ? 'bi-grid-1x2-fill' : 'bi-grid-1x2'"></i>
                  </div>
                  <div class="bg-brunFonce rounded-full p-1 pl-3 pr-3 shadow-md hover:scale-110 hover:cursor-pointer">
                    <i class="bi bi-plus-circle-fill" style="color: var(--color-gray50);font-size: 1.5rem"
                       [ngClass]="culture?.quantite ?? 0 > 0 ? 'bi-plus-circle-fill' : 'bi-plus-circle'"></i>
                  </div>
                </div>
              }
            </div>
            <div class="flex flex-row w-full mt-2">
              <div class="w-1/10">
                @if (tache.fields_are_missing) {
                  <i class="bi bi-exclamation-triangle-fill"
                     style="color: var(--color-jauneSoleil);font-size: 2rem"></i>
                }
              </div>
              <div class="flex flex-row space-x-5 w-8/10 justify-center items-center">
                <div class="bg-brunFonce rounded-full p-1 pl-3 pr-3 shadow-md hover:scale-110 hover:cursor-pointer">
                  <i class="bi bi-grid-1x2-fill" style="color: var(--color-gray50);font-size: 1.5rem"
                     [ngClass]="tache.parcelles.length > 0 ? 'bi-grid-1x2-fill' : 'bi-grid-1x2'"></i>
                </div>
                <div class="bg-brunFonce rounded-full p-1 pl-3 pr-3 shadow-md hover:scale-110 hover:cursor-pointer">
                  <i class="bi bi-plus-circle-fill" style="color: var(--color-gray50);font-size: 1.5rem"
                     [ngClass]="tache?.quantite ?? 0 > 0 ? 'bi-plus-circle-fill' : 'bi-plus-circle'"></i>
                </div>
              </div>
              <p-button icon="pi pi-trash"
                        (click)="onDelete($event, tache)" [rounded]="true"
                        [raised]="true"
                        size="large"
                        styleClass="bg-suppression! border-suppression!"
                        class="transition-all hover:scale-110"
              />
            </div>
          </div>
        }
      </div>
    </p-scrollpanel>
  </div>
</div>
