<div class="flex flex-row w-full">
  <div class="w-[30%] flex flex-col items-center space-y-5">
    <div class="flex flex-row justify-center space-x-3 items-center h-10 w-full">
      <div class="flex items-center h-full" (click)="onMinusOneDay()">
        <i class="pi pi-chevron-left hover:scale-110 hover:cursor-pointer" style="font-size: 2rem"></i>
      </div>
      <div class="flex items-center h-full font-semibold text-2xl">{{ dateUtils.toFrenchString(date) }}</div>
      <div class="flex items-center h-full" (click)="onAddOneDay()">
        <i class="pi pi-chevron-right hover:scale-110 hover:cursor-pointer" style="font-size: 2rem"></i>
      </div>
    </div>

    <div class="flex flex-row items-center justify-between w-56">
      <div class="font-medium text-xl">Total du jour :</div>
      <div class="rounded-full p-2 pl-4 pr-4 text-gray50 text-center font-medium text-md shadow-md"
           [ngClass]="{'bg-vertFonce': statutJour == StatutJour.ok, 'bg-jauneSoleil': statutJour == StatutJour.warning, 'bg-suppression': statutJour == StatutJour.danger}">
        {{ tacheUtils.getDureeFormatted(totalMinutes) }}
      </div>
    </div>
    <div>
      <p-floatlabel class="w-full md:w-56" variant="on">
        <p-select [(ngModel)]="currentUser" inputId="currentUser" [options]="availableUsers" styleClass="w-full"
                  (onClick)="loadTaches()">
          <ng-template #selectedItem let-selectedOption>
            <div class="flex items-center gap-2" *ngIf="selectedOption">
              <div>{{ selectedOption.first_name + ' ' + selectedOption.last_name }}</div>
            </div>
          </ng-template>
          <ng-template let-user #item>
            <div class="flex items-center gap-2">
              <div>{{ user.first_name + ' ' + user.last_name }}</div>
            </div>
          </ng-template>
        </p-select>
        <label for="currentUser">Utilisateur</label>
      </p-floatlabel>
    </div>
    <div>
      <p-floatlabel class="w-full md:w-56" variant="on">
        <p-datepicker [(ngModel)]="date" [iconDisplay]="'input'" [showIcon]="true" inputId="date"
                      dateFormat="dd/mm/yy"
                      (onSelect)="loadTaches()">
        </p-datepicker>
        <label for="date">Date</label>
      </p-floatlabel>
    </div>
    @if (taches.length > 0 || nbVocalInProgress > 0) {
      <div class="w-full md:w-56">
        <p-button label="Ajouter une tâche"
                  icon="bi-plus-circle-fill"
                  [raised]="true"
                  fluid
                  (onClick)="navigateToSaisieForCurrentUserAndDate()"
        />
      </div>
    }
  </div>
  <div class="w-[40%] flex flex-col">
    @if (nbVocalInProgress > 0) {
      <div class="flex flex-row justify-center items-center space-x-5 border border-grisAnthra rounded-2xl p-4">
        <div>
          <i class="pi pi-spin pi-spinner" style="font-size: 1.5rem"></i>
        </div>
        <div class="font-semibold text-xl text-grisAnthra">Messages vocaux en cours de traitement
          : {{ nbVocalInProgress }}
        </div>
      </div>
    }
    <p-scrollpanel [style]="{ width: '100%', height: 'calc(100vh - 150px)'}">
      @if (loading) {
        <div class="w-full h-full flex flex-col items-center justify-center">
          <div>
            <i class="pi pi-spin pi-spinner" style="font-size: 5rem; color: var(--color-brun300)"></i>
          </div>
        </div>
      } @else {
        @if (taches.length == 0 && nbVocalInProgress == 0) {
          <div class="flex flex-col space-y-4">
            <div
              class="w-full flex flex-row items-center justify-center border border-grisAnthra rounded-2xl p-2 text-3xl space-x-3">
              <div>
                <i class="pi pi-search" style="font-size: 3rem; color: var(--color-grisAnthra)"></i>
              </div>
              <span>Aucune tâche renseignée</span>
            </div>
            <div class="flex flex-col w-full transition-all hover:scale-110 items-center">
              <div class="w-full md:w-56">
                <p-button label="Ajouter une tâche"
                          icon="bi-plus-circle-fill"
                          [raised]="true"
                          fluid
                          (onClick)="navigateToSaisieForCurrentUserAndDate()"
                />
              </div>
            </div>
          </div>
        } @else {
          <div class="flex-col">
            @for (tache of taches; track tache.id) {
              <app-card-activite [tache]="tache" (onDeleteEvent)="onDeleteTache()"></app-card-activite>
            }
          </div>
        }
      }
    </p-scrollpanel>
  </div>
</div>
