<div class="flex flex-col w-full space-y-2">

  <div class="flex text-md italic font-semibold w-full">Tableau de bord > Vue d'ensemble</div>

  <div class="w-full flex text-2xl font-semibold justify-center">Données pour l'année {{ currentYear }}</div>

  <div class="flex flex-row w-full h-40 justify-between text-brunFonce">

    <div class="flex flex-col w-1/5 h-full bg-brun300 rounded-xl p-3 shadow-md">
      <div class="text-lg font-semibold italic w-full">Temps travaillé en {{ currentMonthName }}</div>
      <div class="flex flex-row font-bold w-full items-end justify-between flex-grow-1">
        <div class="p-2 text-brunTerre">
          @if (tempsTravailComparaison) {
            @let tempsTravailComparaisonValue = tempsTravailComparaison.toFixed(1);
            @if (tempsTravailComparaison > 0) {
              <i class="pi pi-arrow-up-right mr-2"></i>
              +{{ tempsTravailComparaisonValue }} % ({{ previousYear }})
            } @else {
              <i class="pi pi-arrow-down-right mr-2"></i>
              {{ tempsTravailComparaisonValue }} % ({{ previousYear }})
            }
          }
        </div>
        <div
          class="p-2 text-gray50 text-2xl bg-brunTerre rounded-2xl">{{ getFormattedDuree(dataCards?.temps_travail_mois_actuel_en_minutes, false) }}
        </div>
      </div>
    </div>

    <div class="flex flex-col w-1/5 h-full bg-brun300 rounded-xl p-3 shadow-md justify-between">
      <div class="flex flex-row justify-between">
        <div class="flex text-lg font-semibold italic items-center">Temps moyen par jour</div>
        <div class="flex text-lg font-bold">
          <div
            class="p-2 text-gray50 bg-brunTerre rounded-2xl">{{ getFormattedDuree(dataCards?.temps_travail_moyen_par_jour_en_minutes) }}
          </div>
        </div>
      </div>
      <div class="flex flex-row justify-between">
        <div class="flex text-lg font-semibold italic items-center">Temps moyen par mois</div>
        <div class="flex text-lg font-bold">
          <div
            class="p-2 text-gray50 bg-brunTerre rounded-2xl">{{ getFormattedDuree(dataCards?.temps_travail_moyen_par_mois_en_minutes, false) }}
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col w-1/5 h-full bg-brun300 rounded-xl p-3 shadow-md">
      <div class="text-lg font-semibold italic w-full">Activité la plus chronophage</div>
      <div class="flex flex-row text-2xl font-bold w-full items-end justify-between flex-grow-1">
        <div class="p-2 text-brunTerre text-lg">{{ dataCards?.poucentage_activite }} %</div>
        <div class="p-2 text-gray50 bg-brunTerre rounded-2xl">{{ dataCards?.activite_chronophage?.nom }}</div>
      </div>
    </div>

    <div class="flex flex-col w-1/5 h-full bg-brun300 rounded-xl p-3 shadow-md">
      <div class="text-lg font-semibold italic w-full">Culture la plus chronophage</div>
      <div class="flex flex-row text-2xl font-bold w-full items-end justify-between flex-grow-1">
        <div class="p-2 text-brunTerre text-lg">{{ dataCards?.poucentage_culture }} %</div>
        <div class="p-2 text-gray50 bg-brunTerre rounded-2xl">{{ dataCards?.culture_chronophage?.nom }}</div>
      </div>
    </div>

  </div>

  <div class="flex flex-col">
    <div class="w-full flex text-2xl font-semibold p-3 justify-center">Nombre d'heures travaillées en {{ currentYear }}</div>

    <div class="flex flex-row w-full justify-between text-md">

      <div class="flex w-1/4">
        <div class="flex flex-col space-y-1">
          <div class="flex text-lg justify-center">Par type d'activité</div>
          <p-chart type="pie" [data]="dataRepartitionActivite" [options]="optionsRepartitionActivite" class="w-full"/>
        </div>
      </div>

      <div class="flex w-1/4">
        <div class="flex flex-col space-y-1">
          <div class="flex text-lg justify-center">Par culture</div>
          <p-chart type="pie" [data]="dataRepartitionCulture" [options]="optionsRepartitionCulture" class="w-full"/>
        </div>
      </div>

      <div class="flex w-1/4">
        <div class="flex flex-col space-y-1">
          <div class="flex text-lg justify-center">Par parcelle</div>
          <p-chart type="pie" [data]="dataRepartitionParcelle" [options]="optionsRepartitionParcelle" class="w-full"/>
        </div>
      </div>

    </div>

    <div class="w-full flex text-2xl font-semibold p-3 justify-center">Evolution du temps de travail sur les 12 derniers mois</div>

    <div class="flex w-full justify-center">
      <div class="flex flex-col space-y-1 w-4/5">
        <p-chart type="bar" [data]="dataEvolutionTempsTravail" [options]="optionsEvolutionTempsTravail" class="w-full"/>
      </div>
    </div>

  </div>

</div>
