<div class="w-full w-max-md bg-grey200 rounded-lg shadow-lg flex flex-col">
  <div class="w-full">
    <img
      ngSrc="assets/images/banner.png"
      alt="Bannière"
      width="393"
      height="144"
      priority
      class="w-full object-cover rounded-t-lg"
    >
  </div>
  <div class="p-6 flex-grow flex flex-col">
    <h2 class="text-2xl font-bold text-center text-grisAnthra mb-8">CONNEXION</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-6">
      <div>
        <p-floatlabel variant="on" >
          <label for="email" class="text-grey600!">Email</label>
          <input type="email"
                 formControlName="email"
                 id="email"
                 name="email"
                 class="mt-1 block w-full px-3 py-2 border border-grisAnthra rounded-md shadow-sm focus:outline-none focus:ring-intermediaire focus:border-intermediaire"
                 required>
        </p-floatlabel>
      </div>

      <div>
        <p-floatlabel variant="on">
          <label for="password" class="text-grey600!">Mot de passe</label>
          <input type="password"
                 id="password"
                 formControlName="password"
                 name="password"
                 class="mt-1 block w-full px-3 py-2 border border-grisAnthra rounded-md shadow-sm focus:outline-none focus:ring-intermediaire focus:border-intermediaire"
                 required>
        </p-floatlabel>
      </div>

      <button type="submit"
              [disabled]="loginForm.invalid"
              class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-md text-md font-medium text-grey200 bg-vertFeuille disabled:opacity-70 hover:bg-vertFeuille-hover">
        CONNEXION
      </button>

      <div class="flex justify-center">
        <a routerLink="/auth/mot-de-passe-oublie" class="text-intermediaire hover:text-intermediaire-hover text-md underline">
          Mot de passe oublié ?
        </a>
      </div>

    </form>

    <div class="flex flex-col items-center mt-auto pt-20">
      <span class="text-l font-normal text-center text-grisAnthra pb-2">Pas encore de compte ?</span>
      <button (click)="toInscription()"
              class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-md text-md font-medium text-grey200 bg-intermediaire hover:bg-intermediaire-hover">
        INSCRIPTION
      </button>
    </div>
  </div>
</div>
