<div class="w-full w-max-md bg-grey200 rounded-lg shadow-lg flex flex-col">
  <div class="w-full">
    <img
      ngSrc="assets/images/banner.png"
      alt="Bannière"
      width="393"
      height="144"
      priority
      class="w-full object-cover rounded-t-lg"
    >
  </div>
  <div class="p-6 flex-grow flex flex-col">
    <h2 class="text-2xl font-bold text-center mb-8">CONNEXION</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-6">
      <div>
        <p-floatlabel variant="on" >
          <label for="email">Email</label>
          <input pInputText type="email"
                 formControlName="email"
                 id="email"
                 name="email"
                 fluid
                 required>
        </p-floatlabel>
      </div>

      <div>
        <p-floatlabel variant="on">
          <p-password formControlName="password" inputId="on_label" [toggleMask]="true" [feedback]="false"
                      fluid
          />
          <label for="on_label">Mot de passe</label>
        </p-floatlabel>
      </div>

      <p-button label="CONNEXION" type="submit"
                [disabled]="loginForm.invalid || loading"
                [raised]="loginForm.invalid || loading"
                [loading]="loading"
                fluid
      />

      <div class="flex justify-center pt-4">
        <a routerLink="/auth/mot-de-passe-oublie" class="text-intermediaire hover:text-intermediaire-hover text-md underline">
          Mot de passe oublié ?
        </a>
      </div>

    </form>

    <div class="flex flex-col items-center mt-auto pt-20">
      <span class="text-l font-normal text-center pb-2">Pas encore de compte ?</span>
      <p-button label="INSCRIPTION"
                styleClass="bg-intermediaire! border-intermediaire!"
                [disabled]="loading"
                fluid
                (click)="toInscription()"
      />
    </div>
  </div>
</div>
