/* You can add global styles to this file; and also import other style files */
/* styles.css */
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap);
@import "tailwindcss";
@import "primeicons/primeicons.css";
@plugin "tailwindcss-primeui";

@theme {
  --font-display: "Roboto", "sans-serif";
  --color-brun300: #F2E2D2;
  --color-brun400: #DBB48D;
  --color-brunTerre: #8D6E63;
  --color-brunFonce: #774635;
  --color-vertFeuille: #4CAF50;
  --color-vertFeuille-hover: #449C47;
  --color-vertFonce: #2E7D32;
  --color-jauneSoleil: #FBC02D;
  --color-jauneSoleil-hover: #FAB80F;
  --color-suppression: #F15D55;
  --color-suppression-hover: #EE392F;
  --color-intermediaire: #3581E5;
  --color-intermediaire-hover: #1C6ED9;
  --color-grisAnthra: #424242;
  --color-grisAnthra-hover: #333333;
  --color-gray0: #ffffff;
  --color-gray50: #f5f5f5;
  --color-gray100: #ebebeb;
  --color-gray200: #d6d6d6;
  --color-gray300: #c2c2c2;
  --color-gray400: #a3a3a3;
  --color-gray500: #7a7a7a;
  --color-gray600: #666666;
  --color-gray700: #424242;
  --color-gray800: #333333;
  --color-gray900: #1f1f1f;
  --color-gray950: #141414;
}

html {
  @apply text-grisAnthra;
}
