<div class="flex flex-row justify-center space-x-10 w-full p-5">
  <form [formGroup]="parcelleForm" (ngSubmit)="onSubmit()" class="space-y-6">
    <div>
      <p-floatlabel variant="on">
        <label for="nom">Nom<span class="text-suppression"> *</span></label>
        <input pInputText type="text"
               formControlName="nom"
               id="nom"
               name="nom"
               fluid
               required>
      </p-floatlabel>
    </div>

    <div class="justify-center items-center">
      <p-floatlabel variant="on">
        <p-select [options]="types_parcelle" formControlName="type" optionValue="id" optionLabel="nom" placeholder="Type de parcelle" class="w-full" />
        <label for="type">Type de parcelle<span class="text-suppression"> *</span></label>
      </p-floatlabel>

    </div>

    <div class="flex items-center justify-center relative space-x-4">
      <p-floatlabel variant="on">
        <p-inputnumber formControlName="longueur"
                       mode="decimal" inputId="withoutgrouping"
                       fluid
                       [min]="0"
                       required>
        </p-inputnumber>
        <label for="longueur">Longueur (m)<span class="text-suppression"> *</span></label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <p-inputnumber formControlName="largeur"
                       mode="decimal" inputId="withoutgrouping"
                       fluid
                       [min]="0"
                       required>
        </p-inputnumber>
        <label for="largeur">Largeur (m)<span class="text-suppression"> *</span></label>
      </p-floatlabel>
    </div>

    <div class="flex items-center justify-center relative space-x-4">
      <p-floatlabel variant="on">
        <p-inputnumber formControlName="largeur_planche_cm"
                       inputId="withoutgrouping"
                       fluid
                       [min]="0"
                       required>
        </p-inputnumber>
        <label for="largeur_planche">Largeur planche (cm)<span class="text-suppression"> *</span></label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <p-inputnumber formControlName="nombre_planches"
                       inputId="withoutgrouping"
                       fluid
                       [min]="0"
                       required>
        </p-inputnumber>
        <label for="nombre_planches">Nombre de planches<span class="text-suppression"> *</span></label>
      </p-floatlabel>
    </div>

    <p-button label="VALIDER" type="submit"
              [disabled]="parcelleForm.invalid || loading"
              [raised]="parcelleForm.invalid || loading"
              [loading]="loading"
              fluid
    />

  </form>
</div>


