<div class="flex flex-col items-center h-full justify-center">

  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="space-y-6">

    <div>
      <p-floatlabel variant="on">
        <p-password formControlName="oldPassword" inputId="oldPassword" [toggleMask]="true" [feedback]="false"
                    fluid
        />
        <label for="on_label">Ancien mot de passe</label>
      </p-floatlabel>
    </div>

    <div>
      <p-floatlabel variant="on">
        <p-password formControlName="newPassword" inputId="newPassword" [toggleMask]="true"
                    promptLabel="Choisir un mot de passe"
                    weakLabel="Faible"
                    mediumLabel="Moyen"
                    strongLabel="Fort"
                    fluid
        />
        <label for="on_label">Nouveau mot de passe</label>
      </p-floatlabel>
    </div>

    <div>
      <p-button label="VALIDER" type="submit"
                [disabled]="changePasswordForm.invalid || loading"
                [raised]="changePasswordForm.invalid || loading"
                [loading]="loading"
                fluid
      />
    </div>

  </form>
</div>
